exclude: 'test_hookman_generator/.*'
repos:
-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.8
    hooks:
      - id: ruff-check
        args: ["--fix"]
      - id: ruff-format
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: debug-statements
-   repo: local
    hooks:
    -   id: rst
        name: rst
        entry: rst-lint
        files: ^(CHANGELOG.rst|HOWTORELEASE.rst|README.rst)$
        language: python
        additional_dependencies: [pygments, restructuredtext_lint]
-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.19.0
    hooks:
    -   id: mypy
        files: ^(src/)
        pass_filenames: false
