skip_branch_with_pr: true

image: Visual Studio 2017
environment:
  matrix:
    - PYTHON_DIR: "C:/Python36-x64"
      TOXENV: "py36"
      PYBIND_PATH: C:/Miniconda36-x64/share/cmake/pybind11

platform:
    - x64

install:
  - set "PATH=%PYTHON_DIR%;%PATH%"
  - set "APPVEYOR_PYTHON=%PYTHON_DIR%/python.exe"
  - python -m pip install -U pip tox wheel
  - choco install ninja
  - C:\Miniconda36-x64\Scripts\conda.exe install --channel conda-forge pybind11 -y


build: false  # Not a C# project, build stuff at the test step instead.

test_script:
  - python -m tox



